$font-family: 'Montserrat', sans-serif;
$primary: #fff;
$secondary: $primary;
$tertiary: $secondary;
$accent: #ffd73a;
$background: #000;

body {
  background-color: $background;
  font-size: 100%;
  background-image: url("http://highway18.com/_themes/highway-new/starbrite.gif");
}

.HomePage {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /*Verticle Stack*/


  .stacked {
    flex-direction: row-reverse;
    display: flex;
    
  }

  h1, h2, h3, h4, h5, h6, p, body, li {
    font-family: $font-family;
  }

  h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12vw;
    margin-bottom: 25px;
    color: $primary;
  }

  h4 {
    line-height: 1;
    font-size: 3.7vw;
    font-weight: 200; 
    text-transform: uppercase;
    color: $secondary;
    margin: 0;
  }
  h4 > span {
    font-size: 1.25vw;
    position: absolute;
  }
  div.rel {
    margin-bottom: 25px;
    width: 100%;
    height: 20px;
  }
  hr {
    width: 75%;
    border: none;
    border-top: 1px solid $accent;
  }
  svg {
    width: 20px;
    fill: $accent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -19px;
    background-color: $background;
    padding: 4px
  }

  ul {
    text-align: right;
    line-height: 1.5;
    margin: 0 20px 0 0;
    font-size: 1.2vw;
    color: $primary;
    list-style-type: none;
  }
  blockquote { 
    margin-top: 15px;
    width: 24vw;
    display: block;
    font-weight: 200;
    color: $tertiary;
    line-height: 1.75;
  }
  a {
    color: $primary;
    background: linear-gradient($background,$background),linear-gradient($background,$background),linear-gradient($accent,$accent);
    background-size: .1vw 1px, .1vw 1px, 1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    text-shadow: 0 .1vw $background, .1vw .1vw $background, -.1vw .1vw $background,
      0 .0vw $background, -.1vw .0vw $background,
      0 -.1vw $background, .1vw -.1vw $background, -.1vw -.1vw $background;
    background-position: 0 95%,100% 95%,0 90%;
    text-decoration: none;
  }
  a:hover {
    background: none;
  }
  blockquote {
    display: none;
  }

  @media(max-width: 1200px) {
    .stacked {
      justify-content: center;
      flex-wrap: wrap;
    }
    ul {
      font-size: 20px;
      width: 100%;
      margin-top: 20px;
      text-align: center
    }
    h4 {
      font-size: 8vw;
    }
  }
}