.WidtPage {
	background: url("http://i62.tinypic.com/2a0mcyf.jpg");
	width: 100%;
	height: 100%;
	overflow: hidden;
	h1 {
		color: #f00;
	}
}

*, *:after, *:before {
	box-sizing: border-box;
	}

.WidtPage > section {
	padding-top: 128px;
	
}

blink {
	-webkit-animation: 2s linear infinite condemned_blink_effect; // for android
	animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
	0% {
			visibility: hidden;
	}
	50% {
			visibility: hidden;
	}
	100% {
			visibility: visible;
	}
}
@keyframes condemned_blink_effect {
	0% {
			visibility: hidden;
	}
	50% {
			visibility: hidden;
	}
	100% {
			visibility: visible;
	}
}