.WidtPage {
	background: url("http://i62.tinypic.com/2a0mcyf.jpg");
	width: 100%;
	height: 100%;
	overflow: hidden;
	h1 {
		color: #f00;
	}
}

*, *:after, *:before {
	box-sizing: border-box;
	}

.WidtPage > section {
	padding-top: 128px;
	
}